<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>

    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-5">Estat Carretons</h1>
        <p>
       <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Aula</th>
                <th>Estat</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>carreton.id</td>
                    <td>carreton.nom</td>
                    <td>carreton.aula</td>
                    <td>carreton.estat</td>
                    <td>carreton.stock</td>
                </tr>
        </tbody>
    </table>
        </p>
      </section>
    </main> 
</body>
</html>