<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-1">Professorat</h1>
  </div>
  <b-modal id="modal-ok" title="GestIB2Google" ok-only>
    <p class="my-4">----------------------</p>
  </b-modal>
  <!-- Taula mostrar professorat -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Operació</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Informació d'operació</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(log, index) in logs" v-bind:key="index">
              <td>{{ log }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary" v-on:click="importDomini(true)" :disabled="loading || !logs.length">
        Guardar informació d'operació a fitxer de text
      </button>
      <button class="btn btn-primary" v-on:click="saveLog()" :disabled="loading || !logs.length">
        Guardar informació d'operació a fitxer de text
      </button>
    </div>
  </div>
  <!-- Fi taula mostrar professorat -->
</div>
      </section>
    </main>
  </body>
</html>
