<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <%- include("partials/head") %>
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/navigation") %>
    <!-- My Content -->
    <main class="container pt-2 text-center justify-content-center align-items-center vh-100" style="auto">
      <section>
        <h2 class="display-1">Formulari Alta Professorat</h2>
        <form action="/profController" method="post">
          <label for="codi">Codi GestIB:</label>
          <input type="text" id="codi" name="codi" value="...." required>
          <label for="nom">Nom:</label>
          <input type="text" id="nom" name="nom" value="Francesc" required>
          <label for="llin1">Llinatge 1:</label>
          <input type="text" id="llin1" name="llin1" value="Moll" required>
          <label for="llin2">Llinatge 2:</label>
          <input type="text" id="llin2" name="llin2" value="Domenech" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="fmoll@cifpfbmoll.eu" required>
          <label for="departament">Departament:</label>
          <input type="text" id="departament" name="departament" value="Informàtica" required>
          <label for="comentaris">Comentaris:</label>
          <textarea id="comentaris" name="comentaris" rows="10" cols="30"> Comentaris ...</textarea><br>
          <label for="fname">Crèdit:</label>
          <input type="text" id="credit" name="credit" value="15" required><br><br>
          <input type="submit" value="Alta">
        </form>
      </section>
    </main>
</body>
</html>